<script src="https://www.gstatic.com/firebasejs/9.11.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.11.0/firebase-analytics.js"></script>


<script type="module">
  const firebaseConfig = {
    apiKey: "AIzaSyAi_IZiKNx0dOc3byFgZFIu2aXQ1A3Vay8",
    authDomain: "mojaty-e4362.firebaseapp.com",
    projectId: "mojaty-e4362",
    storageBucket: "mojaty-e4362.appspot.com",
    messagingSenderId: "254624279532",
    appId: "1:254624279532:web:59dc68cd27afbb07eceec9",
    measurementId: "G-8FJRVH68LT"
  };

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

